{% extends 'base.html' %}


{% block title %}DIGISOCIAL | AboutUs{% endblock title %}

{% block body %}
<main class="">
  <section class="sec-about">
  </section>
  <section class="sec-mainAbout">
    <div class="mainAbout-content">
      <div class="mainAbout-info1">
        <h1>About DIGISOCIAL</h1>
        <p>
          We are the ultimate hub when it comes to Instagram account transactions. Born in 2016 and based in Toronto, Canada from the pioneering realization that social media could shake up the marketing world for good. Founders of Social Tradia have been in this industry since 2010 and noticed a marketplace which provides a safe and secure transaction over the Instagram accounts. If you follow this industry, you will know that buying/selling social media accounts via public channels is nearly impossible. On top of everything, this niche is filled with con artists. Therefore, Screening, Safety, Anonymity, and Quality control are what we do. If you want to buy an Instagram account or sell one, <a href="">DIGISOCIAL</a> would be your last stop for so many reasons. We have been able to help so many businesses with their social media in order to achieve their goals with the lightning speed.
          </p>
      </div>
      <div class="mainAbout-info2">
        <h1>Our Core Values</h1>
        <div class="corevalues">
          <div class="corevalues-1">
            <img src="/static/images/abus001.png" alt="">
            <h4>Safe Transaction</h4>
            <p>Providing a safe and smooth transaction between buyers and sellers is our expertise.</p>
          </div>
          <div class="corevalues-1">
            <img src="/static/images/abus003.png" alt="">
            <h4>Quick Process</h4>
            <p>A quick and safe process is our mission for you to get your account in shortest time.</p>
          </div>
          <div class="corevalues-1">
            <img src="/static/images/abus002.png" alt="">
            <h4>Authenticity</h4>
            <p>Our team always try to bring you decent and authentic accounts. Quality is important.</p>
          </div>
          <div class="corevalues-1">
            <img src="/static/images/abus004.png" alt="">
            <h4>Customer Service</h4>
            <p>Responsive and careful customer service is our vision for our users to have a great experience with us.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock body %}